---
---

@import "{{ site.theme }}";

.page-header {
  display: none;
}

body {
  background-color: #171717;
  color: #b6cacf;
}

.main-content h1 {
    color: #DEAA5D;
}

.main-content h2 {
    color: #8AB38D;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #F3F3F3;
}
